BenMAP method list.xlsx
batchmode/no_need/
grids/
inmap_output/
benmap_health_functions table.xlsx
benmap_health_functions.CSV
benmap_health_functions.xlsx
.DS_Store
batchmode/.DS_Store
batchmode/APV/.DS_Store
batchmode/APVR/.DS_Store
batchmode/AQG/.DS_Store
batchmode/CFG/.DS_Store
batchmode/CFGR/.DS_Store
~$BenMAP method list.xlsx
batchmode/APVR/*.txt
batchmode/CFGR/*.txt
batchmode/APV/*.txt
batchmode/AQG/*.aqgx
batchmode/AQG/*.ctlx.log
batchmode/APVR/*.cfgrx
batchmode/CFGR/*.cfgrx
batchmode/APV/*.cfgrx
batchmode/APVR/*.apvrx
batchmode/APV/*.ctlx.log
batchmode/CFG/*.ctlx.log
batchmode/APVR/*.ctlx.log
batchmode/CFGR/*.ctlx.log
**/*.txt
no_need/
