BenMAP method list.xlsx
batchmode/no_need/
grids/
inmap_output/
.DS_Store
batchmode/.DS_Store
batchmode/APV/.DS_Store
batchmode/APVR/.DS_Store
batchmode/AQG/.DS_Store
batchmode/CFG/.DS_Store
batchmode/CFGR/.DS_Store
~$BenMAP method list.xlsx
no_need/
